<main class="flex-1 flex flex-col bg-white overflow-hidden channel" {{did-insert this.loadMessages}}
  {{did-update this.loadMessages @channel}}>
  <h2>chat container</h2>
  {{yield this.messages}}
</main>